/* reset */
div.call_container div, div.call_container span, div.call_container p,div.call_container a, div.call_container img, div.call_container strong, div.call_container b, div.call_container u, div.call_container i, div.call_container ol, div.call_container ul, div.call_container li,div.call_container fieldset, div.call_container form, div.call_container label,div.call_container table, div.call_container tr, div.call_container td
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: 14px Arial;
	vertical-align: baseline;
	outline: none;
	background: none;
}

div.call_container table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main */

div.call_container{
	position: relative;
}

div.call_container span.call{
	cursor: pointer;
	border-bottom: 1px dotted #1161d8;
	color:#1161d8;
	font-size: 14px;
}

div.call_container div.call_wrapper{
	display: none;
	position:fixed;
	top:0;
	left:0;
	z-index: 500;
	background: url(images/type1_bg.png) repeat left top;
	width: 100%;
	height: 100%;
	
}

div.call_container div.call_popup{
	position: absolute;
	background: #fff;
	border: 2px solid #898989;
	z-index: 550;
	padding: 5px 10px 18px 10px;
	*padding-top: 20px;
}

div.call_container div.type1{
	top: 50%;
	left: 50%;	
	margin: -115px 0 0 -100px;
	//margin: -350px 0 0 -250px !important;
}

div.call_container .hid{
	display: none;
}

div.call_container .vis{
	display: block;
}

div.call_container div.call_popup div.arrow{
	display: none;
	position: absolute;
	width: 13px;
	height: 7px;
	top: -8px;
	left:21px;
	background: url(images/popup_arrow.png) no-repeat left top;
}

div.call_container div.call_popup div.close{
	position: absolute;
	top:6px;
	right: 7px;
	background: url(images/close_popup.png) no-repeat left top;
	width: 11px;
	height: 11px;
	cursor: pointer;
}

div.call_container div.response p.errtext{
	font: 12px Arial,sans-serif;
	margin: 0!important;
	padding: 0;
}

div.call_container div.response p.oktext{
	font: 18px Arial,sans-serif;
	line-height: 22px;
	color: #19a400;
	margin: 39px 0 34px 0!important;
	padding: 0;
	text-align: center;
}

div.call_container table.form_table td.descr{
	width: 100px;
}

div.call_container table.form_table td.input{
	width: 179px;
}

div.call_container input.text {
	//padding: 5px 0 0 3px;
	//height: 30px;
	//width: 179px;
	//color: #959595 !important;

}

div.call_container .form_table {
	//margin-top: -15px;
}

div.call_container div.call_container table.form_table td.empty {
	height: 17px;
}

div.call_container table.form_table label{
	display: block;
	margin:0;
	padding: 12px 0 6px 0;
	font: 14px Arial, sans-serif;
}

div.call_container table.form_table input[type=text],
div.call_container table.form_table input[type=password]
{
	height: 35px;
	*height: 28px;
	width: 179px;
	border: 1px solid #c2c2c2;
	background: url(images/input_bg_top.png) repeat-x left top;

	padding: 3px 10px 0 10px;
	*padding-top:10px;
	
	color: #959595;
	font: 15px Arial, sans-serif;
	outline: none;
	cursor: text;
}


div.call_container table.form_table input.err{
	border: 1px solid #cd1100;
}

div.call_container table.form_table input.grey_btn{
	border: none;
	background: #898989;
	padding: 10px 15px;
	color: #fff;
	font: 18px Arial;
	cursor: pointer;
	margin: 20px 0 0 0;
}



div.call_container img.captcha_img{
	width: 179px;
	*width: 200px;
	width: 200px\0/;
	height: 40px;
	margin-top: 10px;
}