/* 
    Document   : style
    Created on : 17.04.2013, 11:24:45
    Author     : User-315
    Description:
        Purpose of the stylesheet follows.
*/

#chose-location-form {
    display: none;
    width: 700px;
}

#chose-location-block {
     float:right; 
     margin-top: 70px; 
     margin-right: 60px;
}

#chose-location-block a {
    color: white; 
    text-decoration: none; 
    border-bottom: 1px dashed white; 
    font-size: 15pt;
}